@tailwind base;
@tailwind components;
@tailwind utilities;
 
:root {
  --background: #ffffff;
  --foreground: #000000;
}
 
body {
  background-color: #f3f4f6;
  color: var(--foreground);
  font-family: system-ui, -apple-system, sans-serif;
}

input, select, textarea {
  background-color: white;
}
